.App {
  text-align: center;
  font-family: Sans-serif, Courier, monospace;
  height: 100vh;
}

.Container{
  display: grid !important;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  width: 1600px;
	height: 100%;
  position: absolute;
  left: 300px;
  top: 50px;
}

.grid-filters-item{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-bottom: 10px;
}

.grid-table-item{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-page-item{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

